.pagination {
	.list {
		display: flex;
		align-items: center;
		column-gap: 10px;
		li {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			border: 1.5px solid #7a6fff;
			width: 40px;
			height: 40px;
			cursor: pointer;
			font-size: 19px;
			border-radius: 10px;
			&:hover {
				background: #7a6fff;
			}
		}
		.pageActive {
			background: #7a6fff;
		}
	}
}
