.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 1000;
	.right {
		display: flex;
		align-items: center;
		gap: 10px;
		// .search {
		// 	position: relative;
		// 	top: 20px;
		// 	right: 20px;
		// 	margin-bottom: 40px;
		// 	display: flex;
		// 	align-items: center;
		// 	input {
		// 		color: #fff;
		// 		background: transparent;
		// 		border-bottom: 2px solid #7a6fff;
		// 		// width: 100%;
		// 		font-size: 24px;
		// 		@media (max-width: 497px) {
		// 			width: 100%;
		// 		}
		// 	}
		// }
	}
	.menuBody {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
		border-radius: 10px;
		right: 0;
		z-index: 20;
		position: absolute;
		top: 50px;

		background: rgba(0, 0, 0, 0.96);
		width: 100%;
		height: auto;

		.nav {
			// flex: 1 1 auto;
			.list {
				margin-bottom: 50px;
				li {
					margin-bottom: 30px;
					text-align: center;
					a {
						color: #fff;
						font-size: 24px;
					}
				}
			}
		}
		.actions {
			text-align: center;
		}
	}
}
