.body {
	background: #18181b;
	color: #fff;
	padding-top: 100px;
	.title {
		font-size: 30px;
		margin-bottom: 50px;
	}
	.info {
		padding: 20px;
		border-radius: 12px;
		border: 1px solid #7a6fff;
		display: flex;
		align-items: center;
		column-gap: 50px;
		.avatar {
			.inputFile {
				position: relative;
				display: flex;
				flex-direction: column;
			}
		}
		.details {
			font-size: 24px;
			div {
				margin-bottom: 10px;
				span {
					color: #7a6fff;
					margin-right: 10px;
				}
			}
		}
	}
}
