.search {
	position: relative;
	display: flex;
	align-items: center;
	input {
		font-size: 20px;
		color: #fff;
		background: transparent;
		outline: none;
		border-bottom: 1px solid #7a6fff;
		@media (max-width: 992px) {
			width: 150px;
		}
	}
	.outputFilms {
		padding: 20px;
		position: absolute;
		z-index: 1000;
		left: 0;
		top: 60px;
		background: #423b91;
		width: 600px;
		height: auto;
		border-radius: 10px;
		@media (max-width: 767px) {
			width: 400px;

			// width: 400px;
			// position: absolute;
			right: 0;
			left: -97%;
			height: auto;
			overflow: hidden;
			overflow-y: scroll;
		}
		@media (max-width: 479px) {
			// min-width: 0;
			// width: 100%;
			width: 300px;
			left: -10%;
			// width: 400px;
			// max-width: 100%;
			// right: -300px;
			height: auto;
			overflow: hidden;
			overflow-y: scroll;
		}
		.items {
			// display: flex;
			.item {
				display: block;
				color: #fff;
				margin-bottom: 20px;
				&:last-child {
					margin: 0;
				}
				.movie {
					display: flex;
					align-items: center;
					column-gap: 20px;
					.poster {
						width: 60px;
						height: 75px;
						overflow: hidden;
						img {
							object-fit: cover;
							width: 100%;
							height: 100%;
						}
					}

					h4 {
						font-size: 24px;
						@media (max-width: 767px) {
							font-size: 22px;
						}
					}
				}
			}
		}
	}
}
