.actions {
	display: flex;
	align-items: center;
	gap: 15px;

	// .search {
	// 	display: flex;
	// 	align-items: center;
	// 	input {
	// 		font-size: 20px;
	// 		color: #fff;
	// 		background: transparent;
	// 		outline: none;
	// 		border-bottom: 1px solid #7a6fff;
	// 	}
	// }
	.btnLogout {
		display: flex;
		align-items: center;
		column-gap: 20px;
		.profileIcon {
			cursor: pointer;
			font-size: 40px;
		}
	}
}
